{% extends 'layout.html.twig' %}

{%- block title -%}Connexion{%- endblock -%}
    
{% block stylesheets %}
    {{ encore_entry_link_tags('custom_form') }}
{% endblock %} 
    
{% block body %}

{#<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		 <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		    <label for="inputUsername">Username</label>
		    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
		    <label for="inputPassword">Password</label>
		    <input type="password" name="password" id="inputPassword" class="form-control" required>
		
		    <input type="hidden" name="_csrf_token"
		           value="{{ csrf_token('authenticate') }}"
		    > 
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>
	</form>
    #}

<div class="container-login">
	<div class="wrap-login shadow">
		<div class="login-form-title">
			<span class="login-form-title-1">
				Connectez vous !
			</span>
		</div>
		<form class="login-form validate-form">
			<div class="wrap-input validate-input">
				<span class="label-input">Utilisateur</span>
				<input class="input" type="text" name="username" placeholder="Entrez votre nom d'utilisateur">
				<span class="focus-input"></span>
			</div>
			<div class="wrap-input validate-input">
				<span class="label-input text-nowrap">Mot de passe</span>
				<input class="input" type="password" name="pass" placeholder="Entrez votre mot de passe">
				<span class="focus-input"></span>
			</div>
			<div class="flex-sb-m w-full p-b-30 my-3">
				{# <div class="contact-form-checkbox">
					<input class="input-checkbox" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox" for="ckb1">
						Se souvenir de moi
					</label>
				</div> #}
				<div>
					<a href="#" class="txt1">
						Mot de passe oublié?
					</a>
				</div>
			</div>
			<div class="container-login-form-btn">
				<button type="submit" class="login-form-btn">
					Connexion
				</button>
				<div class="d-flex align-items-center m-2">
					<a href="{{ path('app_register') }}" class="txt1">
						Je suis nouveau !
					</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
