<div class="row partners no-gutters d-flex justify-content-center text-primary-dark">
    {% for partner in partners %}
        <div class="col-md-5 mb-4 p-4 d-flex flex-column align-items-center">
            <img src="{% if partner.filenamePartner is empty %}
                                    {{ asset('build/logo-eureka.png') }}
                            {% else %}
                                    {{ vich_uploader_asset(partner, 'partnerFile') |
            imagine_filter('squared_thumbnail_medium') }}
                                {% endif %}"
                 alt="{{ partner.filenamePartner }}" class="mt-1 mb-2 p-1 bg-primary-dark rounded shadow">

            <div class="d-flex flex-column align-items-center">
                <p class="mx-3 text-center">{{ partner.presentation }}</p>
                <a href="{{ partner.link }}" target="_blank" class="ml-3 btn btn-secondary text-primary-dark">
                    <i class="fas fa-globe-americas"></i> Facebook</a>
            </div>
        </div>
    {% endfor %}
</div>