<div class="bg-light border-right" id="sidebar-wrapper">
    <a href="{{ path('home') }}">
        <div class="bg-primary-dark text-light sidebar-heading btn-primary"><i class="mr-2 fas fa-share"></i>Accéder au site</div>
    </a>
    <div class="list-group list-group-flush">
        <a href="{{ path('admin_dashboard') }}" class="list-group-item list-group-item-action bg-light">
            <i class="mr-2 fas fa-tachometer-alt"></i>Dashboard
        </a>
        <a href="" class="list-group-item list-group-item-action bg-light">
            <i class="mr-2 fas fa-calendar-day"></i>Créneaux
        </a>
        <a href="{{ path('admin_presentation') }}" class="list-group-item list-group-item-action bg-light">
            <i class="mr-2 fas fa-info-circle"></i>Présentation
        </a>
        <a href="{{ path('newsletter_send') }}" class="list-group-item list-group-item-action bg-light">
            <i class="mr-2 fas fa-paper-plane"></i>Newsletter
        </a>
        <a href="{{ path('newsletter_theme_index') }}" class="list-group-item list-group-item-action bg-light">
            <i class="mr-2 fas fa-envelope-open-text"></i>Thèmes Newsletter
        </a>
        <a href="{{ path('partner_index') }}" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-handshake"></i> Partenaires
        </a>
    </div>
</div>
