{% extends 'layout.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="container text-primary-dark">
        <h1 class="mt-5 mb-0 text-center text-lg-left">L'association</h1>
        <hr class="mt-2 mb-5">

        <div class="mb-5 row text-center">
            {% for i in 0..1 %}
                <div class="mt-4 member-team col-sm-6 col-md-4">
                    <img class="rounded-circle shadow mx-auto" src="{{ asset('build/lalie.webp') }}" alt="">
                    <h3 class="text-primary-dark m-0">Lalie</h3>
                    <p class="text-primary bold">Présidente</p>
                </div>
                <div class="mt-4 member-team col-sm-6 col-md-4">
                    <img class="rounded-circle shadow mx-auto" src="{{ asset('build/daniel.webp') }}" alt="">
                    <h3 class="text-primary-dark m-0">Daniel</h3>
                    <p class="text-primary bold">Référent JdR</p>
                </div>
                <div class="mt-4 member-team col-sm-6 col-md-4">
                    <img class="rounded-circle shadow mx-auto" src="{{ asset('build/vincent.webp') }}" alt="">
                    <h3 class="m-0 text-primary-dark">Vincent</h3>
                    <p class="text-primary bold">Référent Mah-Jong</p>
                </div>
            {% endfor %}
        </div>

        {% if information.presentationAbout %}
            <h2 class="mt-5 text-center">À propos</h2>
            <p class="mt-4 text-center">{{ information.presentationAbout }}</p>
        {% endif %}

        <div class="d-flex justify-content-center">
            <a class="m-2 btn btn-secondary text-primary-dark" href="{{ path('membership') }}">
                <i class="mr-1 fas fa-sign-in-alt"></i> Nous rejoindre
            </a>
        </div>

        {% if information.presentationGeneralInformation %}
            <h2 class="mt-5 text-center">Informations générales</h2>
            <p class="mt-4 mb-5 text-center">{{ information.presentationGeneralInformation }}</p>
        {% endif %}
    </div>
{% endblock %}
