{% extends 'layout.html.twig' %}

{% block title %}Todo: nom activité{% endblock %}

{% block body %}
    <div class="mb-5 container text-primary-dark text-center">
        <h1 class="mt-5 mb-0 text-center text-lg-left">Jeux de Rôle</h1>
        <hr class="mt-2 mb-5">
        <img class="activity-image rounded shadow" src="{{ asset('build/taverne.jpeg') }}" alt="">
        
        <div class="mt-5 d-flex justify-content-center align-items-start flex-wrap activities text-center text-primary-dark">
            <div class="p-3 m-3 info-card bg-light rounded shadow">
                <h2 class="bold">Planning:</h2>
                <p class="m-0">
                {# Todo: liste à puce en gardant les points ? c'est plus habituel pour un planning #}
                    Jeudis à 19h30 <br>
                    Dimanches à 19h <br>
                    Encore les Jeudis à 19h30 :S
                </p>
            </div>

            <div class="p-3 m-3 info-card bg-light rounded shadow">
                <h2 class="mb-3 bold">Référent: </h2>
                <img class="mx-auto referent-pic rounded shadow" src="{{ asset('build/daniel.webp') }}" alt="">
                <p class="m-0">Daniel</p>
                <p class="m-0"><i class="mr-1 fas fa-phone-alt"></i> 06 00 00 00 00</p>
            </div>
            <div class="p-3 m-3 info-card bg-light rounded shadow">
                <h2 class="bold">Lieux: </h2>
                <p class="m-0">
                {# Todo: if location === mainLocation par exemple #}
                    <a class="text-primary-dark" href="{{ path('home') ~ '#location' }}">
                        Foyer des Seniors <i class="ml-2 fas fa-map-marked-alt text-primary"></i></i>
                    </a>
                     <br>
                </p>
            </div>
        </div>

        <div class="mb-5">
            <h2 class="mt-5">À propos</h2>
            <p class="mt-4 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam, animi
                asperiores deleniti natus non
                temporibus voluptas? Alias dolore minus molestiae neque nisi porro provident quae quo sed, sequi
                voluptatem.
                A alias aut facilis fugiat ipsa maiores neque odio placeat! Commodi dicta dignissimos doloremque fugit
                illo
                laborum officia officiis optio perspiciatis placeat praesentium quas quo reiciendis, sed sequi tempora,
                voluptatum.
            </p>
        </div>

        <h2 class="pt-3">Prochaines activités</h2>

        <a href="{{ path('agenda') }}" class="mt-4 mb-3 btn btn-secondary text-primary-dark shadow">Voir toutes les
            activités</a>

        <div class="row text-center">

            {% for i in 0..3 %}
                <div class="col-12 col-lg-6">
                    <div class="p-1 mt-3 card text-primary-dark shadow">
                        <div>
                            <div class="event-info d-flex justify-content-between text-nowrap">
                                <p class="m-0 ml-2 badge badge-danger text-light">
                                    Jeux de Rôle
                                </p>
                                <p class="m-0 mr-2">8 Mai 2020 à 18:00</p>
                            </div>
                            <p class="bold m-2">Donjon & Dragon</p>
                        </div>
                        <div class="event-info d-flex justify-content-between">
                            <p class="m-0 ml-3"><i class="fas fa-home"></i> Foyer des Seniors</p>
                            <p class="m-0 mr-3"><i
                                        class="fas fa-users"></i> {{ i % 2 == 0 ? '4 places restantes':'Complet' }}</p>
                            {#        Todo: place et placeS #}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
